<h3> Wohnung {{ street }}, {{ zip }}, {{ city }}, {{ country }} wurde angelegt</h3>

Um die Daten zu sehen, zu löschen oder zu bearbeiten besuchen sie bitte diese <a href="http://127.0.0.1:3000/#/flat/">Seite</a> und melden sich mit der Wohnungsnummer {{ id }} und dem Password {{ token }} an.